<footer id="footer">
    <div class="da1" style="width: 80%;margin-left: auto;margin-right: auto ;text-align: center">
        <a href="/"><span class="fa fa-home" style="color:#e05244;"></span></a>
    </div>

    <div class="footer">
        <!--<p>没有账号？注册一个加入我们吧</p>-->
        <!--<a href="" id="register-btn">注册</a>-->
        <!--<p>已有账号，立即登录</p>-->
        <!--<a href="" id="login-btn">登录</a>-->

        <a href="" class="footer-download">
            <span class="fa fa-download"></span>
            下载简书，创作你的创作
        </a>

    </div>

</footer>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/index.js"></script>

</body>
</html>